@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
    margin: 0;
}

#head {
    width: 100%;
    padding: 8px 0px 8px 0px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient(to right, #FCA5E2, #F9C2E9);
    text-align: center;
    font-size: 30px;
}

#body {
    margin: 10px 8px 0px 8px;
    padding: 5px 0px 5px 0px;
    background-image: linear-gradient(to right, #FFD7F3, #FDE3F6);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

#body1 {
    margin: 5px auto 5px auto;
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    width: 600px;
    /*    background-color: rgba(255, 255, 255, 0.80);*/
}

#form_upload {
    align-self: flex-end;
    z-index: 100;
    /*    padding: 6px 12px 6px 10px;*/
    height: 10px;
    margin: 0px 0px 50px 0px;
}

#btn_upload {
    border-radius: 50px;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
    margin-top: 4px;
    padding: 10px 12px 10px 10px;
    background: linear-gradient(to right, #FF8FA2, #F969A5);
    color: white;
    border: none;
    cursor: pointer;
    /*    align-self: flex-end;*/
    transition: all .2s;
}

    #btn_upload:before {
        font-family: "Material Icons";
        content: "image";
        font-size: 22px;
        vertical-align: bottom;
    }

    #btn_upload:hover {
        margin-top: 1px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    }

#tbl_ranking {
    width: 100%;
    margin-top: 6px;
    border-spacing: 6px;
    /*   border-collapse:collapse; */
    z-index: 100;
}

    #tbl_ranking td {
        /*   border: 2px solid black; */
        background-color: rgba(255, 255, 255, 0.85);
    }

.td_name {
    width: 50%;
    height: 120px;
    position:relative;
}

.div_name {
    text-align: center;
    position: relative;
    font-size: 30px;
}

.img_rank {
    position: absolute;
    width:56px;
    top: 0px;
    left: 8px;
}

.lbl {
    font-size: 14px;
    margin-left: 8px;
}

.per {
    text-align: center;
    font-size: 30px;
}

#footer {
    width: 100%;
    position: absolute; /*Å©ê‚ëŒà íu*/
    bottom: 20px; /*â∫Ç…å≈íË*/
    text-align: center;
    z-index: 1;
}

#footer_text {
    margin-bottom: 10px;
}

#footer_icons a {
    width: 2em;
    display: inline-block;
    vertical-align: middle;
    margin: 0 1em;
    transition: all .2s;
}

    #footer_icons a:hover {
        /*        margin-top: -5px;*/
        transform: translateY(-3px);
    }

.ig {
    fill: #e1306c;
}

.tw {
    fill: #55acee;
}

.yt {
    fill: #ff0000;
}

.shape1 {
    position: absolute;
    top: 74px;
    right: -10%;
    width: 30%;
    height: 150px;
    transform: skewX(16deg);
    background: linear-gradient(to left, #3B58CB, #8597DF);
    z-index: 10;
}


@media (max-width: 700px) {
    #head {
        font-size:26px;
    }
    #body1 {
        width: 90%;
    }

    .shape1 {
        width: 180px;
    }

    .img_rank {
        width: 48px;
        top: 0px;
        left: 2px;
    }

    #footer {
        bottom: 8px; /*â∫Ç…å≈íË*/
    }
}
