@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

* {
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    font-family: 'Readex Pro', 'Noto Sans JP', sans-serif;
}

body {
    margin: 0;
}

#head {
    width: 100%;
    padding: 8px 0px 8px 0px;
    color: #FFF;
    /*        text-shadow: 1px 1px 1px #333;*/
    background-image: linear-gradient(to right, #FCA5E2, #F9C2E9);
    text-align: center;
    font-size: 40px;
    font-family: 'Readex Pro', sans-serif;
}

#body {
    margin: 10px 8px 0px 8px;
    padding: 5px 0px 5px 0px;
    background-image: linear-gradient(to right, #FFD7F3, #FDE3F6);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    min-height: 240px;
    height: calc(100vh - 260px);
}

#body1 {
    margin: 5px auto 5px auto;
    padding: 0px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    width: 600px;
    /*    background-color: rgba(255, 255, 255, 0.80);*/
    /*    height: calc(100vh - 220px);*/
    height: calc(100% - 10px);
}

#wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    max-height: 40px;
}

#wrapper2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

#space {
    flex: 1;
}

#iconfix {
    z-index: 100;
}

#btn_info {
    margin-right: 10px;
    border-radius: 50px;
    padding: 6px 12px 6px 10px;
    font-size: 18px;
    background: linear-gradient(to right, #FF8FA2, #F969A5);
    color: white;
    border: none;
    cursor: pointer;
    transition: all .2s;
    vertical-align: bottom;
    letter-spacing: 1px;
}


    #btn_info:before {
        font-family: "Material Icons";
        content: "info";
        font-size: 22px;
        vertical-align: bottom;
        margin-right: 2px;
    }

    #btn_info:hover {
        /*        margin-top: 1px;*/
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        transform: translateY(-3px);
    }

#form_upload {
    z-index: 100;
    margin: 0;
}

#btn_upload {
    border-radius: 50px;
    /*    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);*/
    /*    margin-top: 4px;*/
    padding: 6px 12px 6px 10px;
    background: linear-gradient(to right, #FF8FA2, #F969A5);
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    /*    align-self: flex-end;*/
    transition: all .2s;
}

    #btn_upload:before {
        font-family: "Material Icons";
        content: "image";
        font-size: 22px;
        vertical-align: bottom;
    }

    #btn_upload:hover {
        /*        margin-top: 1px;*/
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        transform: translateY(-3px);
    }

#tbl_ranking {
    height: 100%;
    width: 100%;
    margin-top: 6px;
    border-spacing: 6px;
    /*   border-collapse:collapse; */
    z-index: 100;
}

    #tbl_ranking td {
        /*   border: 2px solid black; */
        background-color: rgba(255, 255, 255, 0.90);
        border-radius: 5px;
    }

.tr {
    position: relative;
}

#tr1 {
    animation: fadeIn 0.5s ease 0s 1 normal backwards;
}

#tr2 {
    animation: fadeIn 0.5s ease 0.4s 1 normal backwards;
}

#tr3 {
    animation: fadeIn 0.5s ease 0.8s 1 normal backwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.td_name {
    width: 50%;
    /*    min-height: 50px;
    max-height: 50px;
    height: calc(20vh - 40px);*/
    /*    height: calc(20vh - 40px);*/
    position: relative;
    height: 54px;
}

.div_name {
    text-align: center;
    position: relative;
    font-size: 30px;
}

.img_rank {
    position: absolute;
    width: 56px;
    top: 0px;
    left: 8px;
}

.lbl {
    font-size: 14px;
    margin-left: 2px;
    position: absolute;
    top: 6px;
}

.per {
    text-align: center;
    font-size: 30px;
}

#footer {
    width: 100%;
    /*position: absolute;*/ /*←絶対位置*/
    bottom: 20px; /*下に固定*/
    text-align: center;
    z-index: 1;
    position: relative;
    margin-top: 30px;
    bottom: 8px;
}

#footer_text {
    margin-bottom: 10px;
}

#footer_icons a {
    width: 2em;
    display: inline-block;
    vertical-align: middle;
    margin: 0 1em;
    transition: all .2s;
}

    #footer_icons a:hover {
        transform: translateY(-3px);
    }

.ig {
    fill: #e1306c;
}

.tw {
    fill: #55acee;
}

.yt {
    fill: #ff0000;
}

.shape1 {
    position: absolute;
    top: 8px;
    right: -10%;
    width: 40%;
    height: 200px;
    transform: skewX(16deg);
    background: linear-gradient(to right, #3B58CB, #AFBDF5);
    z-index: 10;
}

.shape2 {
    position: absolute;
    top: 42px;
    right: 2%;
    width: 50px;
    background: rgba(175, 187, 236, 0.55);
    z-index: 11;
    animation-name: shape2;
    animation-duration: 12s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes shape2 {
    0% {
        top: 42px;
        height: 0px;
    }

    3% {
        top: 42px;
        height: 235px;
    }

    5% {
        top: 42px;
        height: 235px;
    }

    13% {
        top: 277px;
        height: 0px;
    }

    100% {
        top: 42px;
        height: 0px;
    }
}

.shape3 {
    position: absolute;
    height: 3px;
    top: 50px;
    background: rgb(128, 89, 212);
    z-index: 11;
    animation-name: shape3;
    animation-duration: 9s;
    animation-timing-function: ease-out;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}


@keyframes shape3 {
    0% {
        width: 0%;
        right: 38%;
    }

    5% {
        width: 60%;
        right: 38%;
    }

    8% {
        width: 60%;
        right: 38%;
    }

    50% {
        width: 0%;
        right: 98%;
    }

    100% {
        width: 0%;
        right: 98%;
    }
}

#svg {
    position: absolute;
    top: 120px;
    left: calc(50% - 480px);
    z-index: 100;
    animation-name: svg;
    animation-duration: 14s;
    animation-timing-function: ease-out;
    animation-delay: 2.9s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    stroke-dashoffset: 3000;
    stroke-dasharray: 1000;
    stroke-width: 2px;
}


@keyframes svg {
    0% {
        stroke-dashoffset: 3000;
    }

    15% {
        stroke-dashoffset: 2000;
    }

    50% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 1000;
    }
}


/*モーダル*/
.modal_wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
}


.modal_inner {
    background: #cccccc;
    width: 405px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
}

.close_wrapper {
    /*    width: 100%;/*/
    display: flex;
    justify-content: center;
}

.close_wrapper2 {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    transition: all .2s;
    background: radial-gradient(circle, #cccccc 50%, black 50%);
}

    .close_wrapper2:hover {
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        transform: translateY(-3px);
    }


.close_icon {
    top: -2px;
    left: -2.6px;
    position: relative;
    cursor: pointer;
    font-family: "Material Icons";
    font-size: 36px;
}


.content form {
    text-align: left;
    display: inline-block;
}

span {
    display: inline-block;
}

.content2 {
    margin-top: 16px;
}

.mytw {
    display: inline-block;
    width: 1.5em;
    vertical-align: bottom;
    fill: #55acee;
    transition: all .2s;
}

    .mytw:hover {
        transform: translateY(-3px) !important;
    }


/* ローディング画面 */
.modal_inner2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
}

#loading {
    top: 100%;
    left: 100%;
    transition: all 1s;
    background: #00000000;
}

.spinner {
    width: 100px;
    height: 100px;
    margin: 200px auto;
    background-color: #FCA5E2;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.0);
        opacity: 0;
    }
}

@media (max-width: 700px) {
    #head {
        font-size: 30px;
    }

    #body1 {
        width: 90%;
    }

    .shape1 {
        width: 180px;
    }

    .img_rank {
        width: 48px;
        top: 0px;
        left: 2px;
    }

    .modal_inner {
        width: 80%;
        font-size: 14px;
    }

    #svg {
        left: -110px;
        animation-name: svg;
    }
}

@media (max-height:540px) {
    .per {
        transform: translateY(8px);
    }
}
